.like {
    color: #6E6E6E;
    display: flex;
    font-size: 12px;
    flex-flow: row nowrap;
    align-items: center;
}

.like_zero {
    display: none;
}

.like_in_circle_on {
    stroke: #FFFFFF;
}

.circle_on svg{
    border: 1px solid var(--black);
    border-radius: 40px;
    background-color: #303030;
    stroke: #FFFFFF;
}

.circle_off {
    border: none;
}

.like_is_active {
    color: var(--pimary);
    stroke: var(--pimary);
}

.like_not_active {
    stroke: #808080;
}