.button {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 24px;
    padding: 14px 44px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.2s;
}

.primary {
    color: var(--white);
    background-color: var(--pimary);
}

.primary:hover {
    background-color: var(--pimary-hover);
}

.ghost {
    color: var(--black);
    background: none;
    border: 1px solid var(--gray-light);
}

.ghost:hover {
    color: var(--white);
    background-color: var(--pimary);
}

.black {
    color: var(--white);
    background-color: var(--black-light);
}
.black:hover {
    color: var(--white);
    background-color: var(--black-light);
    border: 1px solid var(--pimary-hover);
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

.down {
    transform: rotate(90deg);
    transition: all 0.2s;
}

.primary svg,
.ghost:hover svg {
    fill: var(--white);
}