:root {
    --black: #3B434E;
    --white: #FFFFFF;
    --pimary: #7653FC;
    --pimary-hover: #6344DF;
    --red: #FC836D;
    --green: #1DC37E;
    --gray-light: #EBEBEB;
    --gray-dark: #787D85;
    --font-family: 'Noto Sans KR', sans-serif;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    color: var(--black);
    font-family: 'Noto Sans KR', sans-serif;
    background: #F5F6F8;
}

a {
    color: inherit;
    text-decoration: none;
}
