.inputWrapper {
    position: relative;
    padding-top: 23px;
}

.input {
    padding: 18px 29px;
    border: 1px solid rgba(40, 40, 40, 0.16);

    border-radius: 8px;
    color: var(--black);
    outline-color: var(--pimary);

    font-weight: 400;
    line-height: 21px;
    width: 100%;
    max-width: 650px;
}

.input::placeholder {
    color: rgba(78, 93, 124, 0.5);
}


.error {
    border: 2px solid var(--red);
}

.errorMessage {
    position: absolute;
    bottom: 20px;
    right: 170px;
    color: var(--red);
}